/* ------------------ [agree-container 스타일 설정] ------------------  */
#joinContainer {
	width: 100%;
    max-width: 768px;
    margin: 30px auto;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 30px 60px;
}

h2 {
    max-width: 768px;
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #222222;
    box-shadow: 0 4px 3px -3px rgba(0, 0, 0, 0.1);  /* 그림자 : x축, y축, 그림자 블러 수준, 각도*/
    margin-bottom: 20px;
}

/* 표 스타일 */
table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
}

th {
    text-align: left;
    padding: 10px 20px 10px 60px;
    font-size: 15px;
    color: #333;
    width: 30%;
    font-weight: normal;
}

td {
    padding: 10px;
   
}

/* 필수 체크 input에 대한 *표시 컬러 */
.requiredAll{
	font-size: 15px;
    color: #1E82ff;
}

/* 아이디 입력 필드 속성 */
#inputId {
	width: 250px;	
	padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
    margin-top: 5px;
    box-sizing: border-box; 
}

/* 중복 ID 속성 */
input[type="button"]#inputIdConfirm {
	margin-left: 5px;
	padding: 8px 15px;
    background-color: #64A0ff;
    border: none;
    color: #ffffff;
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 3px 2px rgba(0, 0, 0, .149);
}

.font13{
	font-size: 13px;
	color: rgba(255, 0, 0);
	padding-top: 4px;
}

/* 부모는 relative */
.pwd_class{
	position: relative;
    display: flex;
    flex-direction: column;
}

/* 비밀번호 아이콘 절대 위치 설정 */
#togglePassword {
    font-size: 19px;
    color: #64A0ff;
    cursor: pointer;
    position: absolute;
    top: 24;
    left: 320;
}

/* 주소 관련 스타일 */
#sample4_postcode {
    width: 220px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* input 공통 속성 */
.input, .input2, .input3 {
	padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
    margin-top: 5px;
    box-sizing: border-box; 
}

.input {
	width: 348px;
}

.input2 {
    width: 105px;
}

.input3 {
    width: 171px;
}

/* @ 기호, - 기호 */
.em {
	font-size: 14px;
	font-weight: bold;
	color: #64A0ff;
}

/* 우편주소 찾기 버튼 속성 */
input[type="button"]#zip {
	margin-left: 5px;
	padding: 8px 15px;
    background-color: #64A0ff;
    border: none;
    color: #ffffff;
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 3px 2px rgba(0, 0, 0, .149);
}

/* 회원가입 및 회원 가입 초기화*/
 input[type="submit"], input[type="reset"] {
 	width: 492px;
    padding: 10px 20px;
    background-color: #64A0ff;
    border: none;
    color: white;
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 12px 10px 5px 50px;
    box-shadow: 0 3px 2px rgba(0, 0, 0, .149);
}

input[type="button"]#inputIdConfirm:hover, input[type="button"]#zip:hover,
input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: #1E82ff;
}

.radio14 {
	font-size:14px;
	color: #333;
}

/* focus는 outline 검정색에서 변경*/
input:focus,
select:focus {
	border: 2px solid #64A0ff;
	outline: none;
}

input[readonly] {
	background-color: #f8f9fa !important;
    border: 1px solid #ccc !important;
    color: #222 !important;
    text-align: center !important;
    cursor: not-allowed !important;
}

/* ------------------ [반응형 설정] ------------------ */
@media (max-width: 768px) {
    table {
        width: 768px;
    }
    
    th {
	    text-align: left;
	    padding: 10px 20px 10px 60px;
	    font-size: 15px;
	    color: #333;
	    width: 194.39px;
	    font-weight: normal;
	}

	td {
	    padding: 10px;
	}
	
	h2 {
	    width: 768px;
	    text-align: center;
	    padding-bottom: 15px;
	    border-bottom: 1px solid #222222;
	    box-shadow: 0 6px 3px -3px rgba(0, 0, 0, 0.1);  /* 그림자 : x축, y축, 그림자 블러 수준, 각도*/
	    margin-bottom: 20px;
	}
}
