@charset "UTF-8"; /* CSS 문자 인코딩을 UTF-8로 설정 */

/* 가장 바깥 div 가운데 맞춤 */
.wrap{
	display: flex;
}

/* 로고와 테이블 교차축 가운데 정렬 */
.container{
	display: flex;
	flex-direction: column;
}

/* 내부 요소 가운데 정렬 */
form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 30px auto;
	padding: 20px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}

#signUpTitle {
	margin: 10px 0px;
	border-bottom: 1px solid #222222;
    box-shadow: 0 6px 3px -3px rgba(0, 0, 0, 0.1);  /* 그림자 : x축, y축, 그림자 블러 수준, 각도*/
}

#ad_title{
	font-size: 24px;	
}

/* 테이블 크기 */
table{
	width: 400px;
}

/* 제목 설정 */
th{
	font-weight: normal;
	padding-bottom: 10px;
}

/* 요소 설정 */
td{
	padding-bottom: 18px;
}

/* input 설정 */
input{
	padding: 10px 15px;
	border-radius: 5px;
	margin: 0px;
	border: 1px solid  #ddd;
	margin-bottom: 10px;
}
/* select 설정 */
select{
	padding: 10px 12px;
	width: 100%;
	border-radius: 5px;
	margin: 0px;
	border: 1px solid  #d9d9d9;
	margin-bottom: 10px;
}

/* 입력란 hover 색 변경 */
input:hover, 
select:hover {
	border-color: #1E82ff;
}

/* focus는 outline 검정색에서 변경*/
input:focus, 
select:focus {
	border-color: #64A0ff;
	outline: 3px solid rgba(45, 62, 63, 0.2);
}

/* 폰트 16 */
.font16{
	font-size: 16px;
}

/* 폰트 14 */
.font14{
	font-size: 14px;
}

/* 메세지 색상 */
.red{
	color: #ff0000;
}

input[type="button"], input[type="submit"]{
	background-color: #64A0ff;
	color: white;
	font-size: 16px;
	border: none;
	border-radius:5px;
	text-align: center;
	box-shadow: 0 3px 2px rgba(0, 0, 0, .149);
}

input[type="button"]:hover, input[type="submit"]:hover{
	background-color: #1E82ff;
}

/*
   input type:number 화살표 버튼 제거 (생년월일, 휴대폰번호, 사내번호)
  [type=""]을 가진 input 선택자 사용
  ::-webkit-inner-spin-button = 숫자를 증가시키거나 감소시킬 수 있도록 돕는 UI 
  none으로 줘서 스핀버튼이 보이지 않게 함
*/
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* 브랜드 로고 */
.joinLogo{
	display: flex;
	justify-content: center;	
}

.joinLogo img{
	width: 140px;
}

/* id 필드 */
.ad_id{
	width: 297px;
    margin-right: 5px;
}

/* 중복확인 버튼 */
.idChkBTN{
	width: 90px;
}

/* 비밀번호(확인), 이름, 휴대폰, 도로명주소, 상세주소, 사내전화번호, 사번 */
.width100 input{
	width: 100%;
}

/* 비밀번호 아이콘 절대 위치 설정 - 부모는 relative */
.pwd_class{
	position: relative;
}

#pwdIcon1, #pwdIcon2{
	position: absolute;
	right: 15px;
	top: 14px;
	font-size: 19px;
	color: #64A0ff;
}

/* 생년월일 입력창 */
.ad_birth{
	width: 180px;
}
.ad_jender{
	width: 42px;
}
/* 생년월일 - 아이콘 */
.birthIcon{
	color: #9dbebb; 
	font-size: 18px; 
}

/* 비밀번호 메세지, 생년월일 메세지, 비밀번호 아이콘2 안보이게 처리 */
#phoneChk, #birthChk, #pwdIcon2{
	display: none;
}

/* 비밀번호 메세지 색상 */
#pwdMessage{
	color: #ff0000;
}

/* 이메일 너비 설정 */
.ad_email1{
	width: 125px;
}

.ad_email2{
	width: 118px;
    margin-right: 5px;
}

.emailIcon{
 font-size: 19px;
 color: #64A0ff;
 font-weight: bold;
}

.ad_email3{
	width: 114px;
	color: #6c757d;
}

/* 우편번호 input과 버튼 */
#ad_zip1{
	width: 200px;
    margin-right: 5px;
}

.ad_ZIPBTN{
	width: 187px;
}

/* 생년월일 도트 아이콘 */
#dot{
	color: #64A0ff;
	font-size: 16px;
	padding-left: 3px;
}

/* 약관 위에 구분선 */
#termsTr{
	border-top: 1px solid #d9d9d9;
}

/* 약관 제목 설정 */
#termsTh{
	padding: 15px 3px;
	color: #004080;
    font-weight: bold;
}

/* 약관 링크를 클릭 하더라도 색상변경 없음 */
a:link, a:visited {
	color: #0064ff;
	font-weight: normal;
}

/* 체크박스 크기 */
.chkList{
	width: 20px;
	margin-right: 5px;
}

/* [필수] 약관 글 색상 변경 */
.check{
	color: #0064ff;
}

/* [선택] 약관 글 색상 변경 */
.choose {
	color: #0064ff;
}

/* [선택] 약관 글 넘어간 부분 설정 ('다') */
#left-10px{
	padding-left : 25px;	
}

.submitBTN:hover{
	background-color:#004080;
}

.submitBTN { 
	width: 100%;
}

/* id , email1, emial2, 비밀번호 확인 값 확인 */
#idStr, #email1Str, #email2Str, #pwdStr1, #pwdStr2, #jenderChk{
	display: none;
}

.fa-solid.fa-minus::before {
	color: #64A0ff;
}

input[readonly] {
   background-color: #f8f9fa !important;
    border: 1px solid #ccc !important;
    color: #222 !important;
    padding-left: 15px !important;
    cursor: not-allowed !important;
}
