@charset "UTF-8";

/* box-sizing 속성이 기본적으로 content-box인데 너비가 content만 포함, 패딩과 보더를 포함하게 border로 변경 */
* {		
    box-sizing: border-box;
}
.wrap{
	display: flex;
	justify-content: center;
}

.container{
	display: flex;
	justify-content: center;
	flex-direction: column;
}
form{
	display: flex;
	justify-content: center;
}
table{
	width: 400px;
}

input{
	padding:10px 12px;
	/* width: 100%; */
	border-radius: 5px;
	margin:0px;
	border: 1px solid  #d9d9d9;
	margin-bottom: 10px;
	height:50px;
}

.ad_id{
	width: 300px;
}

.idChkBTN{
	width: 90px;
	border-radius: 5px;
	background-color:#729ea1;
	color: #ffffff;
	border: none;	
}
.ad_pwd, .pwdChk, 
.ad_name, .ad_phone2, 
#ad_tel, #ad_empnum,
#ad_zip2, #ad_zip3{
	width: 100%;
}

.ad_birth{
	width: 195px;
	margin-bottom: 2px"
}

.birthIcon{
	color:#9dbebb; 
	font-size:20px; 
	vertical-align:middle; 
	margin: 0px 5px;
}

#birthChk, .pwdIcon2, #phoneChk{
	display:none;
}

th{
	font-weight: normal;
	padding-bottom: 7px;
}

td{
	padding-bottom: 15px;
	height:66px;
}

.ad_email1{
	width: 195px;
}

.ad_email2{
	width: 170px;
}

.emailIcon{
 font-size:20px;
 color:#9dbebb; 
 font-weight:bold;
}

.eamilTd{
	position:relative;
	height:66px;
	padding-bottom: 15px;
}
.ad_email3{
	width: 170px;
	position:absolute; 
	right:0; 
	top:0; 
	margin-right:4px;
}

select{
	padding:10px 12px;
	width:100%;
	border-radius: 5px;
	margin:0px;
	border: 1px solid  #d9d9d9;
	margin-bottom: 10px;
}

.joinLogo{
	display: flex;
	justify-content: center;	
}
.joinLogo img{
	width: 140px;
}

input:hover, 
select:hover {
	border-color: #729ea1;
}

/* focus는 outline 검정색 변경*/
input:focus, 
select:focus {
	border-color: #9dbebb;
	outline: 3px solid rgba(45, 62, 63, 0.2);
}


/* number 화살표 버튼 제거 */
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#dot{
	color: #9dbebb;
	font-size: 14px;
	padding-left: 3px;
}

.font14{
	font-size:14px;
}

.red{
	color: red;
}

.check{
	color: #9dbebb;
}

a:link, a:visited{
	color: #000000;
}

.chkList{
	width: 20px;
}

/* 태영 추가 */
.submitBTN:hover{
	background-color:#729ea1;
}

/* 태영 변경 : .submitBTN button에서 button 삭제, margin 삭제 */
.submitBTN { 
	/* margin:0px 0px; */
	width: 100%;
	height: 50px;
	background-color: #9dbebb;
	color: white;
	font-size: 16px;
	border: none;
	border-radius:5px;
	text-align: center;
}

/* 태영 추가: 해당 hide 클래스가 존재하는 경우 화면에 표시 */
/* 비밀번호 유효성 체크 */
.hide{
display: none;
}

.pwd_class{
	position:relative;
	height:100%;
}
#pwdIcon1, #pwdIcon2{
	position: absolute;
	right: 15px;
	top: 14px;
	font-size:20px;
	color: #9dbebb;
}

#pwdMessage{
	color: #ff0000;
}

#ad_zip1{
	width: 195px;
	margin-right: 25px;
}
.ad_ZIPBTN{
	width: 170px;
}