<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	  
<mapper namespace="com.spring.nardrak_mvc.dao.LocalDAO">

	<!-- 지역정보 삽입 -->
	<insert id="insertTour" parameterType="com.spring.nardrak_mvc.dto.LocalDTO">
		INSERT INTO localTour_tb(local_title, region, description, local_tags, local_detail, local_image, latitude, longitude)
		VALUES(#{local_title}, #{region}, #{description}, #{local_tags}, #{local_detail}, #{local_image}, #{latitude}, #{longitude})
	</insert>
	
	<!-- 목록 -->
    <select id="localList" parameterType="java.util.Map" resultType="com.spring.nardrak_mvc.dto.LocalDTO">
	    SELECT *
	    FROM (
	        SELECT A.*, ROWNUM AS rnum
	        FROM (
	            SELECT * FROM localTour_tb
	            WHERE local_show = 'Y'
	            <if test="region != null and region != ''">
	                AND region = #{region}
	            </if>
	            ORDER BY local_title DESC
	        ) A
	        WHERE ROWNUM <![CDATA[ <= ]]> #{end}
	    )
	    WHERE rnum <![CDATA[ >= ]]> #{start}
	</select>
      
      <!-- 지역정보 총 개수 -->
      <select id="localCnt" resultType="int">
      	SELECT count(*)
      	  FROM localTour_tb
      	 WHERE local_show = 'Y'
      </select>
      
      <!-- 지역정보 총 개수 -->
      <select id="regionLocalCnt" parameterType="String" resultType="int">
      	SELECT count(*)
      	  FROM localTour_tb
      	 WHERE local_show = 'Y'
      	   AND region = #{region}
      </select>
      
      <!-- 국내 여행지 상세정보 조회(1건) -->
      <select id="localInfo" parameterType="String" resultType="com.spring.nardrak_mvc.dto.LocalDTO">
      	SELECT *
      	  FROM localTour_tb
      	 WHERE local_title = #{local_title}
      </select>
      
      <!-- 조회 유니크 -->
	   <select id="checkTitle" parameterType="String" resultType="int">
	      SELECT COUNT(*) 
	        FROM localtour_tb
	       WHERE local_title =#{local_title}
	   </select>
</mapper>