@charset "UTF-8"; /* CSS 문자 인코딩을 UTF-8로 설정 */

/* ===================[전체 적용 스타일]=================== */
body {
    margin: 0;      /* margin : 외부 여백을 없앰 */
    padding: 0;     /* padding : 내부 여백을 없앰 */
    font-family: 'Noto Sans KR', 'CJONLYONENEW', '맑은 고딕', '돋움', Dotum, sans-serif; /* 폰트 적용 */
}

a {
	text-decoration: none; /* 텍스트에 밑줄 제거 */
} 