
/*===================[header_SessionScope.jsp의 스타일 속성]===================*/
#headerWrap {
	position: relative; /* 자식 요소의 절대 위치를 위한 기준이 됨 */
	margin: 0; 
    padding: 0; 
    margin-bottom: 30px;
    border-bottom: 1px solid #d9d9d9;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

/*===================[header.jsp의 스타일 속성]===================*/
#header {
	position: relative;    /* 자식 요소의 절대 위치를 위한 기준이 됨 */
    display: flex; 
    justify-content: space-between; /* 요소들을 균등한 간격으로 배치 */
    align-items: center;   /* 요소들을 수직 중앙 정렬 */
    width: 1100px;           /* headerWrap(width: 100vw)의 너비 100% 상속*/
    margin: 0 auto;
    padding: 15px 0px;     /* 내부 여백 상하 좌우 */
}

/* 로고 이미지 스타일 */
.main-logo img {
    position: relative; /* 상대 위치 */
    max-width: 120px;   /* 로고의 최대 너비 */
    max-height: 120px;  /* 로고의 최대 높이 */
    width: auto;  /* 너비 자동 조정 */
    height: auto; /* 높이 자동 조정 */
    top: 0;   /* top: 0px; left:0px -> transform: translate(0px, 10px);*/
    left: 10px;
}

/* ul 공통 스타일 */
.travel ul, .user ul {
    display: flex; /* 메뉴 항목을 가로로 배치 */
    margin: 0; /* 외부 여백 제거 */
    padding: 0; /* 내부 여백 제거 */
    list-style: none; /* 목록 스타일 제거 */
}

/* 각 메뉴 항목의 공통 스타일 */
.travel li a, .user li a {
    color: #262323; /* 링크 색상 공통 설정 */
    margin-right: 10px; /* 항목 간의 간격 설정 */
    font-weight: bold; /* 글씨 두껍게 설정 */
}

/* ------------------[국내여행 | 추천여행지 스타일]---------------------- */

/* 여행 메뉴 항목 스타일 */
.travel li a  {
    padding: 5px;      /* 항목의 내부 여백 설정 */
    font-size: 1rem;
    text-align: center;
}

/* ----------------------------[검색창 스타일] -----------------------*/
.search{
	background: #EFEFEF;
	border-radius: 10px;
	width: 20%;
	min-width: 160px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
}

/* 검색 쪽 스타일 */
#search-text{
	border: none;
	background: none;
	width: 80%;
}

/* placeholder 글씨 크기 축소 */
#search-text::placeholder{
	font-size: 11px;
}

/* ------------------[사용자 메뉴 헤더 스타일(로그인, 회원가입)]---------------------- */
.user li {
    display: flex; 
    flex-direction: column;  /* 요소 방향 세로 배치*/
    align-items: center;     /* 항목을 중앙에 정렬 */
    margin: auto 5px;       /* 항목 간의 간격 설정 */
}

/* a 링크 스타일 */
.user li a {
    display: flex; 
    flex-direction: column;  /* 요소 방향 세로 배치*/
    align-items: center;     /* 요소들을 수직 중앙 정렬 */
    font-size: 0.9rem; 
    gap: 5px;                /* 아이콘과 텍스트 간의 간격 설정 */
}

/* ------------------[메뉴바 버튼 스타일]---------------------- */
#menu-button {
    display: none;    /* 기본적으로 햄버거 메뉴는 숨겨짐 */
    color: #232323;     /* 햄버거 메뉴 아이콘 색상 */
    padding: 10px;    /* 내부 여백 설정 */
    position: fixed;  /* 화면 고정 위치 */
    top: 20px;        /* 상단에서 20px 떨어짐 */
    right: 20px;      /* 오른쪽에서 20px 떨어짐 */
    font-size: 20px;  /* 검색 아이콘 크기 설정 */
}

/* 메뉴바 스타일 */
.side {
    position: fixed; /* 화면 고정 위치 */
    top: 0; 
    right: 0; 
    width: 250px;  
    height: 100%;    /* 메뉴의 높이를 화면 높이에 맞춤 */
    background-color: black; /* 배경을 검운색으로 설정 */
    box-shadow: -2px 0 3px rgba(0, 0, 0, 0.5); /* 메뉴 왼쪽에 그림자 추가 */
    z-index: 999;    /* 메뉴바가 다른 요소들보다 위에 보이도록 설정 */
    padding: 20px;   /* 내부 여백 설정 */
    transform: translateX(100%); /* 메뉴가 화면 밖에 위치 */
    transition: transform 0.3s ease-in-out; /* 슬라이드 애니메이션 설정 */
}

/* 사이드 메뉴 활성화 시 화면에 나타나는 스타일 */
.side.active {
    transform: translateX(0); /* 메뉴가 화면에 슬라이딩 */
}

/* 사이드 메뉴 ul 스타일 */
.side ul {
    padding-left: 10px;
}

/* 사이드 메뉴 li 스타일 */
.side li {
    list-style-type: none;   /* 글머리표 스타일 제거 */
    font-weight: 600; /* 항목 글씨 두껍게 설정 */
    padding: 15px 0; /* 항목 간의 간격 설정 */
}

/* 여행 관련 슬라이드 메뉴 스타일 */
.side-travel a {
    display: flex; /* 항목을 가로로 배치 */
    padding: 15px 0; /* 항목 간의 간격 설정 */
    border-bottom: 1px solid #727272; /* 항목 간의 하단 테두리 설정 */
    justify-content: space-between; /* 항목의 양옆을 균등하게 배치 */
    color: white;
}

/* 슬라이드 메뉴 내 사용자 관련 메뉴 스타일 */
.side-user-menu ul {
    display: inline; /* 항목들을 가로로 배치 */
    float: right;
}

/* 슬라이드 메뉴 내 사용자 항목 스타일 */
.side-user-menu li {
    display: flex; /* 항목을 가로로 배치 */
    flex-direction: column; /* 항목을 세로로 배치 */
    align-items: flex-end; /* 항목을 오른쪽 정렬 */
    font-size: 1rem; /* 글자 크기 설정 */
}

.side-user-menu a{
	color: white;
}

.side-user-menu a:hover{
	color: #b1f2d8;
}

/* 슬라이드 메뉴 닫기 버튼 스타일 */
.close-btn {
    align-self: flex-end; /* 닫기 버튼을 오른쪽 상단에 배치 */
    font-size: 30px; /* 버튼 크기 설정 */
    margin-bottom: 10px; /* 아래쪽 간격 설정 */
    background: none; /* 배경을 없앰 */
    border: none; /* 테두리 제거 */
    cursor: pointer; /* 클릭할 수 있는 커서 스타일 */
    color: white; /* 버튼 색상 설정 */
}

/* 반응형 웹 스타일 */
@media screen and (max-width : 1100px){
	#header{
		width: 1100px;
		min-width : 500px;
	}
	
    /* 화면 크기가 1100px 이하일 때 햄버거 버튼을 보이게 설정 */
    #menu-button {
        display: flex; /* 햄버거 버튼 표시 */
    }
    
    /* 화면 크기가 작을 때 메뉴 항목 숨기기 */
    .travel ul, .user ul {
        display: none; /* 메뉴 항목 숨김 */
    }
    

    /* 로고 크기 조정 */
    .main-logo img {
        max-width: 100px; /* 로고의 최대 너비 설정 */
        max-height: 100px; /* 로고의 최대 높이 설정 */
    }
    
    .search{
    	display:none;
    }
}
