@charset "UTF-8";

/* 가장 바깥 div 가운데 맞춤 */
.wrap{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
}

/* 로고와 테이블 교차축 가운데 정렬 */
.container {
	display: flex;
    width: 1000px;
    height: 1000px;
    margin: auto;
    flex-direction: column;
}

/* 제목 */
.page_title{
	padding-bottom: 20px;
	border-bottom: 1px solid #222222;
	box-shadow: 0 6px 3px -3px rgba(0, 0, 0, 0.1);
}

/* 내부 요소 가운데 정렬 */
form{
    display: flex;
    width: 95%;
    flex-direction: column;
    padding: 20px;
}

.page-title {
    font-size: 36px;  /* 제목 크기 */
    color: #333;      /* 제목 색상 */
    text-align: center; /* 중앙 정렬 */
    margin-bottom: 20px; /* 아래 여백 */
}

/* 테이블 크기, boder-spacing = cellspacing  */
table{
	border-spacing: 0px;
    border-collapse: collapse;
    text-align: center;
	border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .149);
}

/* th 크기, 색상 */
th {
	background-color: #64A0ff;
	height: 50px;
	color: #ffffff;	
}

td {
	padding: 10px;
}

/* 2, 3번째 열 (가운데 열) 테두리 색상 변경 */
th:nth-child(2), th:nth-child(3), td:nth-child(2), td:nth-child(3){
	border: 1px solid #dee2e6;
	border-top: none;
}

/* 1, 4번째 열 (가운데 열) 테두리 색상 변경 */
td:nth-child(1), td:nth-child(4){ 
	border-bottom: 1px solid #dee2e6;
}

/* 전체 선택 행 테두리 없앰 */
tr:last-child td:last-child {
	border-bottom: none;
}

/* 1, 4번째 열 (가운데 열) 테두리 색상 변경 */
td:nth-child(1), td:nth-child(4){ /* 3 대신 원하는 열 번호 지정 */
	border-bottom: 1px solid #dee2e6;
}

/* 테이블 테두리 둥글기 */
th:nth-child(1) {
	border-radius: 10px 0 0 0;
}

/* 테이블 테두리 둥글기 */
th:nth-child(4) {
	border-radius: 0 10px 0 0;
}

/* 폰트 크기 */
.font18{
	font-size: 18px;
}

.font16{
	font-size: 16px;
}

/* th 간격 조정 */
#noTh{
	width: 10%;
}

#idTh{
	width: 35%;
}

#accTh{
	width: 30%;;
}

#dateTh{
	width: 25%;
}

/* 페이징  */
#pagingTd{
	padding: 20px 10px 10px 10px ;
	display: flex;
	justify-content: center;
}

.listTr a{
	color: #000000;
}

#pagingTd a{
    margin: 10px 8px;
    text-align: center;
    padding: 8px 15px;
    border-radius: 8px;
    font-weight: bold;
    color: #64A0ff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .149);
}

#pagingTd a:hover{
    color: #1E82ff;
}

.chkLabel{
	padding: 10px;
}

.BTNTd {
    padding: 14px 0px;
}

#accessBTN{
    margin-left: 15px;
    padding: 7px 10px;
    border-radius: 10px;
    background-color: #64A0ff;
    border: none;
    color: #ffffff;
    box-shadow: 0 3px 2px rgba(0, 0, 0, .149);
}

#accessBTN:hover{
	background-color: #1E82ff;
}